body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* main colors */

.blue {
    color: rgb(10, 102, 194);
}

#navLink {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myNav .bi {
    font-size: 1.3em;
}

.mySearch {
    background-color: rgb(238, 243, 248) !important;
}
